<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            background-color: aliceblue;
            margin: 2px;
            padding-left: 5px;
            padding-top: 3px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <p>Time: {{.Time}}</p>
        <p>Water: {{.Water}} m | Status: {{.WaterStatus}}</p>
        <p>Wind: {{.Wind}} m/s | Status: {{.WindStatus}}</p>
        <hr>
    </div>
</body>
</html>